.logosty {
    width: 35.85px;
    height: 42.22px;
    margin-top: 18.76px;
    margin-left: 50px;

}

.navsty {
    background-color: white;
    width: 1518px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.03);
}

.pptxt {

    position: absolute;
    width: 213px;
    height: 23.7px;
    left: 99px;
    top: 30.61px;
    /* font-family: 'Gilroy-Bold'; */
    font-size: 18.7544px;
    line-height: 22px;
    color: #444BAB;
    font-weight: 500;


}

.lpaths {



    position: absolute;
    width: 115px;
    height: 19px;
    left: 369px;
    top: 35px;

    /* font-family: 'Gilroy-Medium'; */
    font-size: 14px;
    line-height: 16px;
    font-weight: 450;
    color: #4F516B;
    /* color: grey; */

}

.sstory {
    position: absolute;
    width: 115px;
    height: 19px;
    left: 525px;
    top: 35px;

    /* font-family: 'Gilroy-Medium'; */
    font-size: 14px;
    line-height: 16px;

    color: #4F516B;
}

.hirefromus {
    position: absolute;
    width: 115px;
    height: 19px;
    left: 665px;
    top: 35px;

    /* font-family: 'Gilroy-Medium'; */
    font-size: 14px;
    line-height: 16px;

    color: #4F516B;
}

.campro {
    position: absolute;
    width: 130px;
    height: 19px;
    left: 786px;
    top: 35px;

    /* font-family: 'Gilroy-Medium'; */
    font-size: 14px;
    line-height: 16px;

    color: #4F516B;

}

.blogs {
    position: absolute;
    width: 41px;
    height: 19px;
    left: 940px;
    top: 35px;

    /* font-family: 'Gilroy-Medium'; */
    font-size: 14px;
    line-height: 16px;

    color: #4F516B;
}

.events {
    position: absolute;
    width: 49px;
    height: 19px;
    left: 1021px;
    top: 35px;

    /* font-family: 'Gilroy-Medium'; */
    font-size: 14px;
    line-height: 16px;

    color: #4F516B;

}

.log {
    position: absolute;
    width: 70px;
    height: 19px;
    left: 1131px;
    top: 33px;

    /* font-family: 'Gilroy-Bold'; */
    font-size: 16px;
    line-height: 19px;

    color: #444BAB;
}

.freetrial {
    position: absolute;
    width: 189px;
    height: 40px;
    left: 1246px;
    top: 30px;
    color: white;
    font-weight: 600;
    background: linear-gradient(91.41deg, #444BAB 0%, #3AA2C1 99.71%);
    border-radius: 6px;
    /* font-family: ; */
}

.rightdiv {
    /* position: absolute; */
    display: flex;
    float: right;
    width: 235px;
    height: 489px;

    left: 1206px;
    /* top: 143px; */

    margin-top: 60px;

    background: linear-gradient(180deg, #444BAB 0%, rgba(99, 167, 211, 0.265625) 73.44%, rgba(110, 200, 225, 0) 100%);
}

.bookcallform {
    box-sizing: border-box;
    display: flex;
    float: right;
    width: 493px;
    height: 525px;
    margin-left: -350px;
    margin-top: 70px;
    background: #FFFFFF;
    border: 1px solid rgba(174, 178, 203, 0.22);
    box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

#st-in-cr {
    /* position: absolute; */
    width: 239px;
    height: 21px;
    margin-left: 130px;
    margin-top: 39px;

    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 149.8%;
    /* identical to box height, or 21px */

    text-align: center;

    color: #4F516B;
}

#car_con {
    /* position: absolute; */
    width: 355px;
    height: 36px;
    margin-left: 68px;
    margin-top: -20px;

    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 149.8%;
    /* identical to box height, or 36px */

    text-align: center;

    color: #4F516B;
}

#n-e-n {
    /* position: absolute; */
    width: 141px;
    height: 30px;
    margin-left: 10px;
    margin-top: -20px;
    margin-bottom: -10px;
    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 5px;
    /* identical to box height */


    color: #737171;
}


#bookcallbtn {
    /* position: absolute; */
    width: 445px;
    height: 50px;
    margin-left: 10px;
    top: 651px;
    font-size: 20px;
    font-weight: 500;
    background: linear-gradient(93.24deg, #444BAB 0%, #3CA5C2 100%);
    border-radius: 6px;
}

.top-engine {
    position: absolute;
    width: 641px;
    height: 170px;
    left: 123px;
    top: 213px;

    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 149.8%;
    /* or 90px */

    border: 2px;
    border-radius: 2px;

    /* background-color: red; */

    color: #444557;
}

.top-text {
    /* position: absolute; */
    width: 641px;
    /* height: 50px; */
    margin-left: 123px;
    /* margin-top: 53px; */

    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    /* line-height: 149.8%; */
    color: gray;
    /* background-color: red; */
}

#gradient-engine {
    background: -webkit-linear-gradient(#303ABB, #3CA5C2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* margin-top: -100px; */
}

#google {
    width: 162px;
    height: 60px;
    margin-left: 105px;
    margin-top: 25px;
}

#micro {
    width: 162px;
    height: 60px;
    margin-left: 87px;
    margin-top: 10px;
}

#amazon {
    width: 162px;
    height: 60px;
    margin-left: 69px;
    margin-top: 25px
}

#flip {
    width: 142px;
    height: 60px;
    margin-left: 130px;
    margin-top: 15px;

}

#paloalto {
    width: 162px;
    height: 30px;
    margin-left: 80px;
    margin-top: 20px;
}

#razor {
    width: 162px;
    height: 50px;
    margin-left: 70px;
    margin-top: 15px;
}

.free-learning {
    width: 302px;
    height: 56px;
    margin-left: 123px;
    margin-top: 60px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    background: linear-gradient(91.59deg, #444BAB 1.85%, #3CA5C2 99.69%);
    border-radius: 6px;
}

.many-more {
    width: 151px;
    height: 24px;
    margin-left: 770px;
    margin-top: -35px;
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #272834;
}