.logosty {
    width: 35.85px;
    height: 42.22px;
    margin-top: 18.76px;
    margin-left: 50px;

}

.navsty {
    background-color: white;
    width: 1518px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.03);
}

.pptxt {

    position: absolute;
    width: 213px;
    height: 23.7px;
    left: 99px;
    top: 30.61px;
    /* font-family: 'Gilroy-Bold'; */
    font-size: 18.7544px;
    line-height: 22px;
    color: #444BAB;
    font-weight: 500;


}

.lpaths {



    position: absolute;
    width: 115px;
    height: 19px;
    left: 369px;
    top: 35px;

    /* font-family: 'Gilroy-Medium'; */
    font-size: 14px;
    line-height: 16px;
    font-weight: 450;
    color: #4F516B;
    /* color: grey; */

    font-weight: 500;
}

.sstory {
    position: absolute;
    width: 115px;
    height: 19px;
    left: 525px;
    top: 35px;

    /* font-family: 'Gilroy-Medium'; */
    font-size: 14px;
    line-height: 16px;

    font-weight: 500;
    color: #4F516B;
}

.hirefromus {
    position: absolute;
    width: 115px;
    height: 19px;
    left: 665px;
    top: 35px;

    /* font-family: 'Gilroy-Medium'; */
    font-size: 14px;
    line-height: 16px;

    font-weight: 500;
    color: #4F516B;
}

.campro {
    position: absolute;
    width: 130px;
    height: 19px;
    left: 786px;
    top: 35px;

    /* font-family: 'Gilroy-Medium'; */
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #4F516B;

}

.blogs {
    position: absolute;
    width: 41px;
    height: 19px;
    left: 940px;
    top: 35px;

    /* font-family: 'Gilroy-Medium'; */
    font-size: 14px;
    line-height: 16px;

    font-weight: 500;
    color: #4F516B;
}

.events {
    position: absolute;
    width: 49px;
    height: 19px;
    left: 1021px;
    top: 35px;

    /* font-family: 'Gilroy-Medium'; */
    font-size: 14px;
    line-height: 16px;

    font-weight: 500;
    color: #4F516B;

}

.log {
    position: absolute;
    width: 70px;
    height: 19px;
    left: 1131px;
    top: 33px;

    /* font-family: 'Gilroy-Bold'; */
    font-size: 16px;
    line-height: 19px;

    font-weight: 600;
    color: #444BAB;
}

.freetrial {
    position: absolute;
    width: 189px;
    height: 40px;
    left: 1246px;
    top: 30px;
    color: white;
    font-weight: 600;
    background: linear-gradient(91.41deg, #444BAB 0%, #3AA2C1 99.71%);
    border-radius: 6px;
    /* font-family: ; */
}

.rightdiv {
    /* position: absolute; */
    display: flex;
    float: right;
    width: 235px;
    height: 489px;

    left: 1206px;
    /* top: 143px; */

    margin-top: 60px;

    background: linear-gradient(180deg, #444BAB 0%, rgba(99, 167, 211, 0.265625) 73.44%, rgba(110, 200, 225, 0) 100%);
}

.bookcallform {
    box-sizing: border-box;
    display: flex;
    float: right;
    width: 493px;
    height: 530px;
    margin-left: -350px;
    margin-top: 70px;
    background: #FFFFFF;
    border: 1px solid rgba(174, 178, 203, 0.22);
    box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

#st-in-cr {
    /* position: absolute; */
    width: 379px;
    height: 21px;
    margin-left: 60px;
    margin-top: 39px;

    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 149.8%;
    /* identical to box height, or 21px */

    text-align: center;

    color: #4F516B;
}

#car_con {
    /* position: absolute; */
    width: 430px;
    height: 36px;
    margin-left: 28px;
    margin-top: -20px;

    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 149.8%;
    /* identical to box height, or 36px */

    text-align: center;

    color: #4F516B;
}

#n-e-n {
    /* position: absolute; */
    width: 141px;
    height: 30px;
    margin-left: 10px;
    margin-top: -20px;
    margin-bottom: -10px;
    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 5px;
    /* identical to box height */


    color: #737171;
}


#bookcallbtn {
    /* position: absolute; */
    width: 445px;
    height: 50px;
    margin-left: 10px;
    top: 671px;
    font-size: 20px;
    font-weight: 500;
    background: linear-gradient(93.24deg, #444BAB 0%, #3CA5C2 100%);
    border-radius: 6px;
}

.top-engine {
    position: absolute;
    width: 641px;
    height: 170px;
    left: 123px;
    top: 213px;

    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 149.8%;
    /* or 90px */

    border: 2px;
    border-radius: 2px;

    /* background-color: red; */

    color: #444557;
}

.top-text {
    /* position: absolute; */
    width: 691px;
    height: 100px;
    margin-left: 123px;
    /* margin-top: 53px; */

    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    /* line-height: 149.8%; */
    color: gray;
    /* background-color: red; */
}

#gradient-engine {
    background: -webkit-linear-gradient(#303ABB, #3CA5C2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* margin-top: -100px; */
}

#google {
    width: 192px;
    height: 93px;
    margin-left: 101px;
    margin-top: 25px;
}

#micro {
    width: 172px;
    height: 55px;
    margin-left: 15px;
    margin-top: 10px;
}

#amazon {
    width: 122px;
    height: 55px;
    margin-left: 20px;
    margin-top: 25px
}

#flip {
    width: 125px;
    height: 60px;
    margin-left: 130px;
    margin-top: 15px;

}

#paloalto {
    width: 152px;
    height: 30px;
    margin-left: 54px;
    margin-top: 20px;
}

#razor {
    width: 112px;
    height: 35px;
    margin-left: 40px;
    margin-top: 15px;
}

.free-learning {
    width: 330px;
    height: 52px;
    margin-left: 130px;
    margin-top: 60px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    background: linear-gradient(91.59deg, #444BAB 1.85%, #3CA5C2 99.69%);
    border-radius: 6px;
}

.many-more {
    width: 151px;
    height: 24px;
    margin-left: 650px;
    margin-top: -35px;
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #272834;
}

#bottom-line {
    width: 536px;
    height: 27px;
    margin-left: 130px;
    margin-top: 36px;
    font-weight: 500;
    font-size: 18px;
    line-height: 149.8%;

}

.second-page {
    position: absolute;
    width: 1518px;
    height: 78px;
    left: 0px;
    top: 858px;

    background: linear-gradient(180deg, #B0DEE7 -35.78%, rgba(176, 222, 231, 0) 174.51%);
}

#second-title {
    position: absolute;
    width: 606px;
    height: 27px;
    margin-left: 517px;
    margin-top: 23px;

    /* font-family: 'Poppins';
font-style: normal; */
    font-weight: 500;
    font-size: 18px;
    line-height: 149.8%;
    /* identical to box height, or 27px */


    color: #263238;

}

.learning-path {
    position: absolute;
    width: 232px;
    height: 45px;
    margin-left: 654px;
    margin-top: 157px;

    /* font-family: 'Poppins';
font-style: normal; */
    font-weight: 600;
    font-size: 30px;
    line-height: 149.8%;
    /* identical to box height, or 45px */


    color: #4F516B;
}

.second-tag {
    width: 782px;
    height: 54px;
    margin-left: 361px;
    margin-top: 230px;

    /* font-family: 'Poppins';
font-style: normal; */
    font-weight: 400;
    font-size: 18px;
    line-height: 149.8%;
    /* or 27px */

    text-align: center;

    color: #505050;
}

.three-cards {
    display: flex;
    float: left;
    /* margin-left: 100px; */
}

.sub-card {
    margin-top: 80px;
    margin-left: 130px;
}

#sub-card-title1 {
    width: 294px;
    height: 72px;
    font-weight: 600;
    font-size: 24px;
    line-height: 149.8%;
    color: #4F516B;
}

#sub-card-title2 {
    width: 294px;
    height: 72px;
    font-weight: 600;
    font-size: 24px;
    line-height: 149.8%;
    color: #4F516B;
}

#sub-card-title3 {
    width: 294px;
    height: 72px;
    font-weight: 600;
    font-size: 24px;
    line-height: 149.8%;
    color: #4F516B;
}

#sub-card-para1 {
    width: 302px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #616161;

}

#sub-card-para2 {
    /* position: absolute; */
    width: 302px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #616161;

}

#sub-card-para3 {
    width: 292px;
    height: 72px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #616161;

}

.knowmore {
    text-decoration: none;
    width: 117px;
    height: 22px;
    /* left: 145px;
top: 1704px;

font-family: 'Poppins';
font-style: normal; */
    font-weight: 600;
    font-size: 20px;
    line-height: 149.8%;
    /* or 30px */


    color: #444BAB;

}

.impact {
    width: 116px;
    height: 30px;
    margin-top: 658px;
    font-weight: 600;
    font-size: 20px;
    line-height: 149.8%;
    text-align: center;

    color: #444BAB;
}

.sub-title3 {
    width: 588px;
    height: 44px;
    /* margin-left: 460px;*/
    margin-top: 26px;
    font-weight: 600;
    font-size: 38px;
    line-height: 149.8%;
    color: #444557;
}

.footer {
    width: 514px;
    height: 27px;
    font-weight: 400;
    font-size: 18px;
    line-height: 149.8%;

    text-align: center;

    color: #66747B;

}

.promotion {
    margin-top: 120px;
    margin-left: 170px;
}

#pro11 {
    width: 149px;
    height: 60px;
    margin-left: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 149.8%;
    background: linear-gradient(180deg, #3E8EBC 0%, #407AB7 57.29%, #444BAB 70.31%, rgba(67, 81, 172, 0.912281) 82.81%, rgba(62, 142, 188, 0) 100%, rgba(62, 142, 188, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#pro12 {
    width: 159px;
    height: 30px;
    margin-left: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 149.8%;
    color: #4F5062;

}

#pro21 {
    width: 102px;
    height: 60px;

    font-weight: 700;
    font-size: 40px;
    line-height: 149.8%;
    background: linear-gradient(180deg, #3E8EBC 0%, #407AB7 57.29%, #444BAB 70.31%, rgba(67, 81, 172, 0.912281) 82.81%, rgba(62, 142, 188, 0) 100%, rgba(62, 142, 188, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#pro22 {
    width: 246px;
    height: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 149.8%;

    color: #4F5062;
}

#pro31 {
    width: 117px;
    height: 60px;
    font-weight: 700;
    font-size: 40px;
    line-height: 149.8%;
    background: linear-gradient(180deg, #3E8EBC 0%, #407AB7 57.29%, #444BAB 70.31%, rgba(67, 81, 172, 0.912281) 82.81%, rgba(62, 142, 188, 0) 100%, rgba(62, 142, 188, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#pro32 {
    width: 241px;
    height: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 149.8%;
    color: #4F5062;

}

#pro41 {
    width: 95px;
    height: 60px;
    font-weight: 700;
    font-size: 40px;
    line-height: 149.8%;
    background: linear-gradient(180deg, #3E8EBC 0%, #407AB7 57.29%, #444BAB 70.31%, rgba(67, 81, 172, 0.912281) 82.81%, rgba(62, 142, 188, 0) 100%, rgba(62, 142, 188, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#pro42 {
    width: 181px;
    height: 30px;
    left: 1045px;
    font-weight: 400;
    font-size: 20px;
    line-height: 149.8%;
    text-align: center;

    color: #4F5062;
}

.offers {
    width: 135px;
    height: 30px;
    margin-top: 338px;
    font-weight: 600;
    font-size: 20px;
    line-height: 149.8%;
    /* identical to box height, or 30px */

    text-align: center;

    color: #444CAB;
}

.sub-title4 {

    width: 325px;
    height: 54px;
    margin-top: 15px;
    font-weight: 600;
    font-size: 38px;
    line-height: 149.8%;
    /* identical to box height, or 54px */


    color: #444557;
}

.college {
    border-radius: 10px;
    width: 490px;
    height: 326.59px;
    margin-top: 80px;
    margin-left: 160px;
}

.college-1 {
    width: 653px;
    height: 45px;
    left: 667px;
    /* top: 2562px; */
    /* margin-top: 400px; */
    font-weight: 600;
    font-size: 30px;
    line-height: 149.8%;
    color: #4F516B;
}


.college-2 {
    width: 33px;
    height: 57px;
    left: 667px;
    /* top: 2626px; */
    font-weight: 400;
    font-size: 18px;
    line-height: 149.8%;
    color: #505050;
}


.college-3 {
    box-sizing: border-box;
    width: 184px;
    height: 49px;
    left: 667px;
    top: 2719px;
    border: solid 3px transparent;
    background-image: linear-gradient(180deg, #3E8EBC, #444BAB);
    box-shadow: 2px 1000px 1px #fff inset;
    border-radius: 6px;
    background-origin: border-box;


}

.hire {
    /* display: flex;float: left; */
    width: 490px;
    height: 326.41px;
    border-radius: 10px;
    margin-left: 850px;
    margin-top: 80px;
}

.alumni {
    margin-top: 300px;
    margin-left: 160px;
    width: 40%;
    /* background-color: green; */
}

#alumni-1 {
    width: 244px;
    height: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 149.8%;
    color: #444BAB;
}

#alumni-2 {
    width: 133px;
    height: 158px;
    font-weight: 600;
    font-size: 40px;
    /* line-height: 149.8%; */
    color: #4F516B;
}

#alumni-3 {

    width: 611px;
    height: 186px;
    font-weight: 400;
    font-size: 20px;
    line-height: 149.8%;
    /* or 30px */


    color: #444557;
}

.divpic1 {
    width: 167px;
    height: 90px;
    margin-left: 10px;
}

.divpic2 {
    width: 167px;
    height: 80px;
    margin-top: 5px;
    margin-left: 20px;
}

.divpic3 {
    width: 167px;
    height: 60px;
    margin-top: 5px;
    margin-left: 55px;
}

.divpic4 {
    width: 97px;
    height: 30px;
    margin-top: 25px;
    margin-left: 45px;
}

.divpic5 {
    width: 167px;
    height: 40px;
    margin-top: 18px;
    margin-left: 50px;
}

.divpic6 {
    width: 157px;
    height: 50px;
    margin-top: 12px;
    margin-left: 50px;
}

.divpic7 {
    width: 100px;
    height: 50px;
    margin-top: 35px;
    margin-left: 45px;
}

.divpic8 {
    width: 177px;
    height: 50px;
    margin-top: 35px;
    margin-left: 50px;
}

.divpic9 {
    width: 137px;
    height: 50px;
    margin-top: 35px;
    margin-left: 40px;
}

.divpic10 {
    width: 117px;
    height: 90px;
    margin-top: 30px;
    margin-left: 35px;
}

.divpic11 {
    width: 177px;
    height: 100px;
    margin-top: 30px;
    margin-left: 40px;
}

.divpic12 {
    width: 140px;
    height: 50px;
    margin-top: 50px;
    margin-left: 40px;
}

.divpic13 {
    width: 120px;
    height: 70px;
    margin-top: 15px;
    margin-left: 40px;
}

.divpic14 {
    width: 167px;
    height: 50px;
    margin-top: 25px;
    margin-left: 40px;
}

.divpic15 {
    width: 117px;
    height: 80px;
    margin-top: 5px;
    margin-left: 35px;
}

.alumnicom {
    margin-top: 280px;
    margin-left: 50px;
    /* background-color: green; */
}

.success-story {
    position: absolute;
    width: 200px;
    height: 30px;
    left: 650px;
    top: 3100px;
    /*     
    font-family: 'Poppins';
    font-style: normal; */
    font-weight: 600;
    font-size: 20px;
    line-height: 149.8%;
    color: #444BAB;

}

.sub-title5 {
    position: absolute;
    width: 574px;
    height: 54px;
    left: 450px;
    top: 3150px;
    /*     
    font-family: 'Poppins';
    font-style: normal; */
    font-weight: 600;
    font-size: 36px;
    line-height: 149.8%;
    /* identical to box height, or 54px */

    text-align: center;

    color: #4F516B;

}

.leadership-team {
    width: 218px;
    height: 30px;
    /* left: 607px; */
    margin-top: 1596px;

    /* font-family: 'Poppins';
    font-style: normal; */
    font-weight: 600;
    font-size: 20px;
    line-height: 149.8%;
    /* identical to box height, or 30px */

    text-align: center;

    color: #444BAB;
}

.sub-title6 {
    width: 572px;
    height: 54px;
    /* left: 431px; */
    margin-top: 20px;
    /*     
    font-family: 'Poppins';
    font-style: normal; */
    font-weight: 600;
    font-size: 36px;
    line-height: 149.8%;
    /* identical to box height, or 54px */

    text-align: center;

    color: #4F516B;
}

.sub-part-6 {
    display: flex;
    float: left;
    width: 1518px;
    height: 755px;
    left: 0px;
    margin-top: 78px;

    background: linear-gradient(96.55deg, rgba(62, 142, 188, 0.62) 0%, rgba(63, 126, 184, 0.536146) 30.88%, rgba(65, 106, 179, 0.429948) 84.64%, rgba(67, 81, 173, 0.301779) 99.02%, rgba(68, 75, 171, 0.67) 102.21%);

}

.sub-card-1 {
    box-sizing: border-box;

    /* position: absolute; */
    width: 368px;
    height: 552px;
    margin-left: 102px;
    margin-top: 155px;

    background: #FFFFFF;
    border: 1px solid rgba(132, 144, 199, 0.35);
}

.pics {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: -70px;
    margin-left: 105px;
    box-shadow: 0px 5px 5px rgba(132, 141, 199, 0.44);
    ;

}


.designation {
    width: 227px;
    height: 15px;
    /* margin-left: 83px; */
    font-weight: 400;
    font-size: 12px;
    color: #67686B;
}


.name {
    width: 147px;
    height: 20px;
    margin-top: 16px;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 149.8%;
    color: #272834;
}

#brief-vivek {
    width: 306px;
    height: 250px;
    /* margin-left: 83px; */
    margin-top: 30px;
    font-weight: 450;
    font-size: 16px;
    line-height: 163.8%;
    text-align: center;
    
    color: #505050;
}

.title-7
{
    width: 255px;
height: 30px;
left: 127px;
top: 5863px;

font-weight: 600;
font-size: 20px;
line-height: 149.8%;
/* identical to box height, or 30px */

text-align: center;

color: #444BAB;
}